
.colorOnClick {
    color: red;
}

.textSizeOnClick {
    font-size: 50px
}

.borderOnClick {
    border: 2px solid blue; 
}

button {
    background-color: royalblue;
    padding: 1rem 2rem; 
    color: white; 
    border: 1px solid black;
    border-radius: 15px;

}

button:active {
    background-color: gold;
}


input {
    padding: 1rem 2rem;
    font-size: 1.5rem; 

}

p.scroll {
    width: 25%;
    height: 150px;
    overflow-y: scroll;
    border: 2px solid black;
    padding: .5rem;
}

button.transicion:hover {
    background-color: crimson;
    transition: background-color 1s ease;

}

div.animacion {
    background-color: indigo;
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    /* animation: moveRight 2s forwards;  */
}

.out {
    animation: moveRight 2s forwards;
}

@keyframes moveRight {
to {
    translate: 1000px
}   
}